body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url("../images/gravel.png");
    margin-bottom: 60px; /* Margin bottom by footer height */
}

#navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
}
.media {
margin: auto;
width: 960px;
background-color: #ffffff; 
}

.media-body {
 
}
html {
    position: relative;
    min-height: 100%;
}


  
  